# **Data Types and Structures Questions**

1. What are data structures, and why are they important.
   - Data structures are specialized formats for organizing, processing, and storing data in a computer. They enable efficient data management. Data structures are important because they help in:
* Efficient Data Access: They allow for quick retrieval and modification of data.
* Memory Management: They help in organizing data in a way that minimizes memory usage.
* Algorithm Efficiency: Certain data structures can significantly speed up the execution of algorithms.

# 2. Explain the difference between mutable and immutable data types with examples.
   - data types can be classified as mutable or immutable:
* Mutable Data Types: These can be changed after their creation. Examples include:
* Lists: You can add, remove, or change elements.
Dictionaries: You can modify key-value pairs.
* Immutable Data Types: These cannot be changed once created. Examples include:
* Tuples: Once defined, their elements cannot be altered.
Strings: Any modification results in a new string being created.

3.  What are the main differences between lists and tuples in Python.
   - Mutability: Lists are mutable, meaning you can change their content, while tuples are immutable and cannot be altered after creation.
* Syntax: Lists are defined using square brackets [], while tuples use parentheses ().
* Performance: Tuples can be slightly more memory efficient than lists due to their immutability.

4. Describe how dictionaries store data.
   - Dictionaries in Python store data in key-value pairs. Each key is unique and maps to a specific value, allowing for efficient data retrieval.

5.  Why might you use a set instead of a list in Python.
  - ets are used instead of lists when you need to ensure that all elements are unique. They automatically handle duplicate values by only storing one instance of each element

6. What is a string in Python, and how is it different from a list.
   - A string in Python is a sequence of characters, while a list is a collection of items that can be of different data types. Strings are immutable, meaning once created, they cannot be changed, whereas lists are mutable and can be modified.

7.  How do tuples ensure data integrity in Python.
   -  Tuples are immutable, data inside them remains unchanged, preventing accidental modifications.

8.  What is a hash table, and how does it relate to dictionaries in Python.
   - A hash table is a data structure that maps keys to values using a hash function. Python dictionaries use hash tables internally for fast lookups.

9. Can lists contain different data types in Python.
   - Yes, lists in Python can contain different data types. For example, a list can include integers, strings, and even other lists or dictionaries.

10.  Explain why strings are immutable in Python.
   - Strings are immutable in Python to ensure that they remain constant and to optimize performance.

11. What advantages do dictionaries offer over lists for certain tasks.
   - Dictionaries offer several advantages over lists, particularly for tasks that require fast lookups. They allow for:
* Key-based access: You can retrieve values using keys rather than indices.
* Faster lookups: Average-case time complexity for lookups in dictionaries is O(1), compared to O(n) for lists.

12. Describe a scenario where using a tuple would be preferable over a list.
   - When data should not change, like storing database records.

13.  How do sets handle duplicate values in Python.
   - Sets automatically remove duplicates.

14. How does the “in” keyword work differently for lists and dictionaries.
   - The in keyword checks for membership differently in lists and dictionaries:
* In lists, it checks if an element exists in the list.
* In dictionaries, it checks if a key exists in the dictionary

15.  Can you modify the elements of a tuple? Explain why or why not.
   - No, because tuples are immutable. However, if a tuple contains a mutable object (like a list), that object can be changed.

16.  What is a nested dictionary, and give an example of its use case.
   - A dictionary inside another dictionary.

In [2]:
nested_dict = {
    'person1': {'name': 'Devraj', 'age': 21},
    'person2': {'name': 'Abha', 'age': 21}
}

17. Describe the time complexity of accessing elements in a dictionary.
   - Accessing elements in a dictionary has an average time complexity of O(1). making it very efficient for lookups.

18.  In what situations are lists preferred over dictionaries.
   - * When order matters.
* When the data needs indexing (e.g., accessing by position).

19.  Why are dictionaries considered unordered, and how does that affect data retrieval.
   - Dictionaries are considered unordered because they do not maintain the order of elements based on insertion. This affects data retrieval since you cannot rely on the order of keys when accessing values.

20.  Explain the difference between a list and a dictionary in terms of data retrieval.
   - * Lists use indices to access elements, which can be slower for large datasets.
* Dictionaries use keys for direct access, allowing for faster lookups.

# **Practical Questions**

In [3]:
# 1.  Write a code to create a string with your name and print it.
name = "Devraj Prabhat"
print(name)

Devraj Prabhat

In [4]:
# 2.  Write a code to find the length of the string "Hello World".
length = len("Hello World")
print(length)

11

In [5]:
# 3.  Write a code to slice the first 3 characters from the string "Python Programming.
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

In [7]:
# 4. Write a code to convert the string "hello" to uppercase.
uppercase_string = "hello".upper()
print(uppercase_string)

HELLO

In [8]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
string = "I like apple"
new_string = string.replace("apple", "orange")
print(new_string)

I like orange

In [9]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [10]:
# 7.  Write a code to append the number 10 to the list [1, 2, 3, 4].
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [11]:
# 8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [12]:
# 9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

In [15]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
reversed_numbers = numbers[: :-1]
print(reversed_numbers)

[50, 40, 30, 20, 10]

In [16]:
#11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.
numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

In [17]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print(second_to_last)

blue

In [18]:
# 13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).
minimum = min((10, 20, 5, 15))
print(minimum)

5

In [19]:
# 14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
colors = ('dog', 'cat', 'rabbit')
index = colors.index('cat')
print(index)

1

In [20]:
# 15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'orange')
is_kiwi_in_tuple = 'kiwi' in fruits
print(is_kiwi_in_tuple)

False

In [21]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
letters = {'a', 'b', 'c'}
print(letters)

{'b', 'c', 'a'}

In [22]:
# 17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

In [24]:
# 18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_list = [1, 2, 3, 4, ]
my_list.remove(4)
print(my_list)

[1, 2, 3]

In [25]:
# 19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [26]:
# 20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [27]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {"name": "Devraj", "age": 21, "city": "Hazaribagh"}
print(my_dict)

{'name': 'Devraj', 'age': 21, 'city': 'Hazaribagh'}

In [28]:
# 22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [29]:
# 23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print(name_value)

Alice

In [30]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [31]:
# 25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
key_exists = 'city' in my_dict
print(key_exists)

True

In [33]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [7, 3, 6]
my_tuple = (9, 8, 3)
my_dict = {'key': 'value'}
print(my_list, my_tuple, my_dict)

[7, 3, 6] (9, 8, 3) {'key': 'value'}

In [35]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).
import random
random_numbers = random.sample(range(1, 101), 5)
random_numbers.sort()
print(random_numbers)

[4, 11, 39, 42, 78]

In [37]:
# 28. Write a code to create a list with strings and print the element at the third index.
string_list = ['DevrajPrabhat', 'Archna', 'Sakshi', 'Abha', 'Lalita']
third_index_element = string_list[3]
print(third_index_element)

Abha

In [40]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 'Abha', 'b': 'DevrajPrabhat'}
dict2 = {'c': 'Sakshi', 'd': 'Lalita'}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 'Abha', 'b': 'DevrajPrabhat', 'c': 'Sakshi', 'd': 'Lalita'}

In [41]:
# 30.  Write a code to convert a list of strings into a set.
string_list = ['Abha', 'DevrajPrabhat', 'Sakshi', 'Lalita']
string_set = set(string_list)
print(string_set)

{'Abha', 'Lalita', 'Sakshi', 'DevrajPrabhat'}